/*html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
  background-color: white;
}

/* If you still use .App for legacy reasons, ensure it doesn't interfere */

